<div class="flex  max-sm:justify-center justify-end items-center gap-2 max-sm:pb-4">
   <button
      (click)="onOpenModalFacialRecognition()"
      class="flex items-end gap-2 p-2 bg-amber-400 text-zinc-700 rounded-lg font-bold hover:bg-amber-500 duration-300 ease-out"
   >
      <i class="flaticon flaticon-digital icon-md" aria-hidden="true"></i>
      <span>Registrar ponto</span>
   </button>
   <button
      *ngIf="profile?.criar === 'true'"
      routerLink="/admin"
      class="max-sm:hidden bg-zinc-50 text-zinc-700 py-1 px-2 rounded-lg shadow hover:shadow-2xl ease-linear duration-300"
   >
      <i class="flaticon flaticon-settings icon-md hover:animate-spin" aria-hidden="true"></i>
   </button>
</div>
<div class="flex flex-wrap max-sm:justify-center justify-between gap-8 w-full">
   <div class="flex items-center justify-center gap-2 max-w-full">
      <!-- <div class="bg-amber-400 p-1 rounded-lg">
      <i class="text-zinc-800 flaticon flaticon-alarm icon-md hover:animate-ping" aria-hidden="true"></i>
    </div> -->
      <h1 class="text-zinc-700 font-bold m-0 max-w-96 max-sm:text-center">
         Bem-vindo, <span class="text-amber-400">{{ currentUser?.firstName }}</span
         >! Seu Ponto Eletrônico está pronto para você.
      </h1>
      <!-- <img id="clock-in-img" class="w-80" src="{{ environment.assets }}/clock-in.svg" alt="Clock-in" /> -->
   </div>
   <!-- <div class="flex flex-wrap items-center gap-4">
      <div class="bg-zinc-50 shadow rounded-lg p-2">
      <i class="px-2 flaticon flaticon-multiple-register icon-sm" aria-hidden="true"></i>
      <strong>Ultimo registro: </strong> <span> {{ lastRegister }}</span>
    </div>
   </div> -->
</div>
<div class="max-sm:hidden flex items-center justify-start gap-8">
   <div class="bg-zinc-50 border rounded h-40 w-80 gap-2 shadow-sm">
      <div class="flex flex-col items-center justify-center gap-2 p-4 h-full">
         <h3 class="text-zinc-600 flex items-center gap-2">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               fill="currentColor"
               class="size-6 text-amber-900"
            >
               <path
                  fill-rule="evenodd"
                  d="M7.5 5.25a3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0 1 12 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 0 1 7.5 5.455V5.25Zm7.5 0v.09a49.488 49.488 0 0 0-6 0v-.09a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5Zm-3 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                  clip-rule="evenodd"
               />
               <path
                  d="M3 18.4v-2.796a4.3 4.3 0 0 0 .713.31A26.226 26.226 0 0 0 12 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 0 1-6.477-.427C4.047 21.128 3 19.852 3 18.4Z"
               />
            </svg>
            Saldo de banco de horas
         </h3>

         <p class="font-bold text-3xl text-zinc-700">{{ hoursWorkedBalance }} horas</p>
      </div>
   </div>

   <div
      routerLink="/pendencias"
      class="bg-zinc-50 rounded h-40 w-80 gap-2 shadow-sm cursor-pointer border hover:border-amber-400 hover:shadow-2xl ease-in-out duration-200"
   >
      <div class="flex flex-col items-center justify-center gap-2 p-4 h-full">
         <h3 class="text-zinc-600 flex items-center gap-2">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="size-6 text-amber-500"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
               />
            </svg>
            Pendências
         </h3>
         <p class="font-bold text-3xl text-zinc-700">{{pendingWorkRegister.length}}</p>
      </div>
   </div>
   <img id="clock-in-img" class="w-60" src="{{ environment.assets }}/clock-in.svg" alt="Clock-in" />
</div>

<div class="pt-8 max-sm:hidden">
   <div class="row">
      <div class="form-group col-md-2">
         <label for="user" class="sr-only">Data Início</label>
         <div class="input-group">
            <span class="input-group-addon bg-zinc-200 border-zinc-200"
               ><i class="flaticon flaticon-date-range icon-sm text-zinc-700" aria-hidden="true"></i
            ></span>
            <input
               id="dateStart"
               type="date"
               class="form-control border-zinc-200 text-zinc-700 placeholder:text-zinc-400 rounded-r-lg"
               placeholder="Data de início"
               [(ngModel)]="searchDate.startDate"
               (blur)="getAllWorkRecords()"

            />
         </div>
      </div>
      <div class="form-group col-md-2">
         <label for="user" class="sr-only">Data fim</label>
         <div class="input-group">
            <span class="input-group-addon bg-zinc-200 border-zinc-200"
               ><i class="flaticon flaticon-date-range icon-sm text-zinc-700" aria-hidden="true"></i
            ></span>
            <input
               id="dateEnd"
               type="date"
               class="form-control border-zinc-200 placeholder:text-zinc-400 rounded-r-lg"
               placeholder="Data fim"
               [(ngModel)]="searchDate.endDate"
               (blur)="getAllWorkRecords()"                              
            />
         </div>
      </div>
      <div class="form-group col-md-3">
         <label for="user" class="sr-only">Usuário</label>
         <div class="input-group">
            <span class="input-group-addon bg-zinc-200 border-zinc-200"
               ><i class="flaticon flaticon-search icon-sm text-zinc-700" aria-hidden="true"></i>
            </span>
            <input
               type="text"
               (input)="filterSearch()"
               [(ngModel)]="searchQuery"
               [matAutocomplete]="seach"
               class="form-control border-zinc-200 placeholder:text-zinc-400 rounded-r-lg"
               placeholder="Pesquisar..."
            />
            <mat-autocomplete #seach="matAutocomplete" class="bg-amber-50">
               @for (user of filteredUsers; track user) {
               <mat-option [value]="user.colleagueName">{{ user.colleagueName }}</mat-option>
               }
            </mat-autocomplete>
         </div>
      </div>
   </div>

   <div class="bg-zinc-50 relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-zinc-50 overflow-auto">
         <thead class="text-xs text-zinc-700 uppercase bg-amber-100">
            <tr>
               <th scope="col" class="px-6 py-3">Data</th>
               <th scope="col" class="px-6 py-3">Usuário</th>
               <th scope="col" class="px-6 py-3">Dia</th>
               <th scope="col" class="px-6 py-3">Horário</th>
               <th scope="col" class="px-6 py-3 text-center">Status</th>
               <th scope="col" class="px-6 py-3">Ações</th>
            </tr>
         </thead>
         <tbody>
            @for (work of filteredWorkRecords; track work.id) {
            <tr [class]="work.status === 'refused' ? 'line-through text-rose-600' : ''">
               <td class="px-6 py-4 font-medium text-zinc-900 whitespace-nowrap">
                  {{ format(work.datetime, 'dd/MM/yyyy') }}
               </td>
               <td class="px-6 py-4">{{ work.usuario_nome }}</td>
               <td class="px-6 py-4">{{ work.dia_semana }}</td>
               <td class="px-6 py-4">{{ work.horario_registro }}</td>
               <td class="px-6 py-4 text-center">
                  <span
                     [class]="utils.getWorkRecordClasses(work.status)"
                     class="border text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg"
                     >{{ utils.getStatusWorkRecord(work.status) }} @if(work.status_integracao === 'true'){<span>/ Integrado</span>}@else{<span>/ Não Integrado</span>}</span
                  >
               </td>
               <td class="flex items-center gap-2 px-6 py-4">
                  <a [matMenuTriggerFor]="workactions" class="font-medium text-zinc-500 hover:underline">
                     <i class="flaticon flaticon-more-vert icon-md" aria-hidden="true"></i>
                  </a>
                  <mat-menu #workactions="matMenu" class="bg-amber-50">
                     <button
                        type="button"
                        mat-menu-item
                        (click)="onOpenModalViewWorkRecord(work.documentid)"
                        class="flex items-center gap-2 font-medium text-zinc-600 hover:underline cursor-pointer"
                     >
                        <div class="flex items-center gap-2">
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="size-4"
                           >
                              <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                              />
                              <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                              />
                           </svg>

                           <span>Abrir</span>
                        </div>
                     </button>
                     <button
                        type="button"
                        mat-menu-item
                        (click)="generateReceipt(work)"
                        class="flex items-center gap-2 font-medium text-zinc-600 hover:underline cursor-pointer"
                     >
                        <div class="flex items-center gap-2">
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="size-4"
                           >
                              <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25"
                              />
                           </svg>

                           <span>Emitir comprovante</span>
                        </div>
                     </button>
                  </mat-menu>
               </td>
            </tr>
            }
         </tbody>
      </table>
      @if (workRecords.length === 0){
      <div class="w-full flex flex-col items-center justify-center p-4 gap-4">
         <img class="w-36" src="{{ environment.assets }}/not-found.svg" alt="Blank Canva" />
         <p class="text-center text-zinc-400 font-light p-4">Parece que ainda não há dados registrados por aqui.</p>
      </div>
      }
   </div>
</div>
